# Data structure

1. What are data structure, and why are they important?

 .   Data structure is a way of organizing, string and storing data so that it can be accessed and manipulated effecienty.

  2. Explain the difference between mutable and immutable data type with example?

    . Mutable data type can be modified after their creation, while immutable data types cannot.Lists are mutable. allowing you to change, add, or remove elements.string, on the other hand, are immutable, meaning their content cannot be altered once they are created.

3. What are  the main difference between lists and tuples in python?

 . List are mutable, but tuple are immutable. list can be modifield after creation, while tuple cannot be changed once the tuole is created.

4. Describe how dictionaries store data?

 . Dictionaries are key-value paires that allow you to store and retrieve data based on a uniquekey. the keys must be immutable, such as strings or numbers.

5.  Why might you use a set instread of a list in python?

 . Sets and lists are both used to store collections of items in python, but they have different characteristics are use cases.

6. What is a string in python, and how is it different from a list?

 . String is a sequence of character. its used for representing and manipulate textual data. A list a sequence of values which can be characters, integers of even another list .

7. How do tuples ensure data integrity in python?

 .   Tuples in python ensure data integrity primarily through their immutable. Once a tuple is created, its elments cannot be modified, added, or removed. this characteristic is crucial for maintainning the consistency and reliability of data.

8. what is a hash table, and how does it relate to dictionaries in python?

 . A hash table is a data structure that maps keys to values using a hash function, allowing for very fast lookup, insertions, and deletions.

9. Can lists contain different data types in python?

 . yes, a list in python can contain different data types.

10. Explain why string are immutable in python?

 . String in python are immutable which means they can not be changed after they are created.some other immutable data type are integers, float, boolen, etc. The immutablility of python string is very uesfull as it helps in hashing, perfomance optimization, safety, ease of use, etc.

11. What advantage do dictionaris offer over lists for certain tasks?

 . Dictionaries excel in scenaries requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for orederd collections, sequentions, processing and simple data storage.

12. Describe a scenario where using a tuple would be preferable over a list?  

 .  Tuple are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

13. How do sets handle duplicate values in python?

 . Python sets are designed to store only unique elements. when you attempt to add a duplicate value to a set, it will be automatically ignored and the set will remain unchanged.

14. How does the "in" keyword work differently for lists and dictionaries?

 . As mentioned above, the in operation for the dictionay tests on keys. The key of the  dictionay is a unique value as well as the sets, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple would be preferable over a list.

 . No tuples are immutable, which means they cannot be modifed after they are created.

16.What is a nested dictonary, and give an example of its use case?

 . A nested dictionary in python is a dictionary where the value are themselves dictionaries.

17. describe the time complexity of accessing elementsin a dictionaries.

. Accessing an elementin a pyhton dictionary by its key has an average time complexity of O(1), which is considered constant time. This means the time it take to retrieve a value doesn't increase as the dictionary gets larger.

18. In what situations are lists preferred over dictionaries?

 . Lists and dictionaries serve different purposes, and the best choice depends on the specific needs of the situation.Lists are preferred when the orderof elements is important and when need to store a collection of items where duplicates are allowed.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 . A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

20. Explain the difference between a list and a dictionary in items of data retrieval?

 . Lists use integer indices to retrieve in a sequential mammer, while dictionaries use unique key to retrieve associated values.

#         Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
print("mansi rajput");

mansi rajput

2. Write a code to find the length of the string "Hello World".

In [ ]:
string  = "Hello world"
length = len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "pyhton programming".

In [ ]:
string1 = "python programming"
string1[0:3]

'pyt'

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
string2 = "hello"
string.upper()

'HELLO WORLD'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

6. write a code to create a list with numbers 1 to 5 and print it.

7. Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ["a", "b", "c", "d"].

In [ ]:
my_list = ["a","b","c","d"]
my_list[1]

'b'

10. Write a code to reverse the list [10,20,30,40,50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t = ( 100, 200, 300)
type(t)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ("red", "green", "blue", "yellow").

In [ ]:
tuple1= ("red", "green", "blue", "yellow")
print(tuple1)

('red', 'green', 'blue', 'yellow')

In [ ]:
tuple1 [0:4]

('red', 'green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple(10,20,5,15).

In [ ]:
tuple = (10,20,5,15)
min(tuple)

5

14. Write a code to find the index of the elements "cat" in he tuple ('dog', 'cat', 'rabbit').

In [ ]:
t = ('dog', 'cat', 'rabbit')
t[1]

'cat'

15. Write a code to create a tuple containing three different fruits and check it "kiwi" is in it.

16. Write a code to create a set with the elements 'a', 'b', 'c' nad print it.

In [7]:
set = {'a', 'b', 'c'}
set

{'a', 'b', 'c'}

17. Write a code to clear all elements fron the set {1,2,3,4,5}.

In [8]:
s = {1,2,3,4,5}
s.clear()
s

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [10]:
s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [11]:
s1 = {1,2,3}
s2 = {3,4,5}
s1|s2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [12]:
s1 = {1,2,3}
s2 = {2,3,4}
s1&s2

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [14]:
d = {"name" , "age"  , "city" }
d

{'age', 'city', 'name'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [16]:
my_dict = {'name':'john','age':25}
my_dict['country'] = "USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [19]:
my_dict = {'name':'Alice','age':30}
value = my_dict['name']
print(value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [23]:
d ={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
d

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
d = {'name': 'Alice', 'city': 'Paris'}
key = 'city'
print(key in "city")

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [1,2,3, "brinjal", "apple"]
my_tuple = (4,5,6, "orange")
my_dict = {"name":"mansi","email":"mansi@gmail.com"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 'brinjal', 'apple']
(4, 5, 6, 'orange')
{'name': 'mansi', 'email': 'mansi@gmail.com'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [38]:
random_numbers = random_number(1, 100)
for in range(5)

SyntaxError: invalid syntax (<ipython-input-38-1735015072>, line 2)

28. Write a code to create a list with strings and print the element at the third index.

In [44]:
my_list = ["apple", "mango", "brinjal","tomato"]
my_list.index(tomato)

NameError: name 'tomato' is not defined

29. Write a code to combine two dictionaries into one and print the result.

In [49]:
d1 = {1,2,3}
d2 = {4,5,6}
d1 | d2

{1, 2, 3, 4, 5, 6}

30. Write a code to convert a list of strings into a set.